# Loading The Data

In [1]:
import pandas as pd
from data_cleaning_utils import handle_missing_values 
loans_df = pd.read_csv("loan_payments_data.csv") 
# Displays all the columns in the Data set 
display_columns = pd.set_option('display.max_columns', None)
print(loans_df)
#Displays a total count of rows and columns 
print(loans_df.shape)

             id  member_id  loan_amount  funded_amount  funded_amount_inv  \
0      38676116   41461848         8000         8000.0             8000.0
1      38656203   41440010        13200        13200.0            13200.0
2      38656154   41439961        16000        16000.0            16000.0
3      38656128   41439934        15000        15000.0            15000.0
4      38656121   41439927        15000        15000.0            15000.0
...         ...        ...          ...            ...                ...
54226     76597      76583         5000         5000.0             1775.0
54227    142608      74724         5000         5000.0             2350.0
54228    117045      70978         3500         3500.0             2225.0
54229     88854      70699         5000         5000.0              225.0
54230     72323      70694         5000         5000.0              350.0

            term  int_rate  instalment grade sub_grade  ... recoveries  \
0      36 months      7.49      248.82     A        A4  ...       0.00
1      36 months      6.99      407.52     A        A3  ...       0.00
2      36 months      7.49      497.63     A        A4  ...       0.00
3      36 months     14.31      514.93     C        C4  ...       0.00
4      36 months      6.03      456.54     A        A1  ...       0.00
...          ...       ...         ...   ...       ...  ...        ...
54226  36 months      9.01      159.03     B        B2  ...       0.00
54227  36 months     10.59      162.73     C        C2  ...       0.00
54228  36 months      7.43      108.77     A        A2  ...       0.00
54229  36 months      7.43      155.38     A        A2  ...       0.00
54230  36 months     11.54      164.98     C        C5  ...     182.27

      collection_recovery_fee  last_payment_date last_payment_amount  \
0                        0.00           Jan-2022              248.82
1                        0.00           Jan-2022              407.52
2                        0.00           Oct-2021            12850.16
3                        0.00           Jun-2021            13899.67
4                        0.00           Jan-2022              456.54
...                       ...                ...                 ...
54226                    0.00           Jul-2016              160.61
54227                    0.00           Oct-2016              490.01
54228                    0.00           Sep-2016              110.58
54229                    0.00           Mar-2014                0.00
54230                    1.84           Mar-2014              164.97

      next_payment_date last_credit_pull_date collections_12_mths_ex_med  \
0              Feb-2022              Jan-2022                        0.0
1              Feb-2022              Jan-2022                        0.0
2                   NaN              Oct-2021                        0.0
3                   NaN              Jun-2021                        0.0
4              Feb-2022              Jan-2022                        0.0
...                 ...                   ...                        ...
54226               NaN              Jul-2016                        NaN
54227               NaN              Sep-2016                        0.0
54228          Sep-2016              May-2013                        NaN
54229               NaN              May-2013                        NaN
54230          Dec-2014              Jan-2015                        NaN

      mths_since_last_major_derog  policy_code  application_type
0                             5.0            1        INDIVIDUAL
1                             NaN            1        INDIVIDUAL
2                             NaN            1        INDIVIDUAL
3                             NaN            1        INDIVIDUAL
4                             NaN            1        INDIVIDUAL
...                           ...          ...               ...
54226                         NaN            1        INDIVIDUAL
54227                         NaN            1        INDIVIDUAL
54228                         NaN            1        INDIVIDUAL
54229                         NaN            1        INDIVIDUAL
54230                         NaN            1        INDIVIDUAL

[54231 rows x 43 columns]
             id  member_id  loan_amount  funded_amount  funded_amount_inv  \
0      38676116   41461848         8000         8000.0             8000.0
1      38656203   41440010        13200        13200.0            13200.0
2      38656154   41439961        16000        16000.0            16000.0
3      38656128   41439934        15000        15000.0            15000.0
4      38656121   41439927        15000        15000.0            15000.0
...         ...        ...          ...            ...                ...
54226     76597      76583         5000         5000.0             1775.0
54227    142608      74724         5000         5000.0             2350.0
54228    117045      70978         3500         3500.0             2225.0
54229     88854      70699         5000         5000.0              225.0
54230     72323      70694         5000         5000.0              350.0

            term  int_rate  instalment grade sub_grade employment_length  \
0      36 months      7.49      248.82     A        A4           5 years
1      36 months      6.99      407.52     A        A3           9 years
2      36 months      7.49      497.63     A        A4           8 years
3      36 months     14.31      514.93     C        C4            1 year
4      36 months      6.03      456.54     A        A1         10+ years
...          ...       ...         ...   ...       ...               ...
54226  36 months      9.01      159.03     B        B2            1 year
54227  36 months     10.59      162.73     C        C2          < 1 year
54228  36 months      7.43      108.77     A        A2         10+ years
54229  36 months      7.43      155.38     A        A2           4 years
54230  36 months     11.54      164.98     C        C5           9 years

      home_ownership  annual_inc verification_status issue_date  \
0           MORTGAGE     46000.0        Not Verified   Jan-2021
1               RENT     50000.0        Not Verified   Jan-2021
2           MORTGAGE     73913.0     Source Verified   Jan-2021
3               RENT     42000.0     Source Verified   Jan-2021
4           MORTGAGE    145000.0            Verified   Jan-2021
...              ...         ...                 ...        ...
54226       MORTGAGE    250000.0        Not Verified   Jul-2013
54227           RENT     15000.0        Not Verified   Oct-2013
54228       MORTGAGE    300000.0        Not Verified   Aug-2013
54229           RENT    200000.0        Not Verified   Aug-2013
54230       MORTGAGE     55000.0        Not Verified   Jul-2013

                                             loan_status payment_plan  \
0                                                Current            n
1                                                Current            n
2                                             Fully Paid            n
3                                             Fully Paid            n
4                                                Current            n
...                                                  ...          ...
54226                                         Fully Paid            n
54227                                         Fully Paid            n
54228  Does not meet the credit policy. Status:Fully ...            n
54229                                         Fully Paid            n
54230  Does not meet the credit policy. Status:Charge...            n

                  purpose    dti  delinq_2yrs earliest_credit_line  \
0             credit_card  19.54            2             Oct-1987
1             credit_card  24.20            0             Sep-2001
2             credit_card  16.92            0             Sep-1998
3      debt_consolidation  35.52            0             Jun-2008
4      debt_consolidation   3.33            0             Apr-2002
...                   ...    ...          ...                  ...
54226               other  10.00            2             Apr-2003
54227               other  24.40            0             Jan-1999
54228  debt_consolidation   1.00            0             Feb-1984
54229               house   0.28            0             Mar-1995
54230               other  10.00            0             Oct-1998

       inq_last_6mths  mths_since_last_delinq  mths_since_last_record  \
0                   1                     5.0                     NaN
1                   0                     NaN                     NaN
2                   0                    69.0                     NaN
3                   0                    74.0                     NaN
4                   1                    37.0                     NaN
...               ...                     ...                     ...
54226               0                     5.0                     NaN
54227               3                     0.0                     0.0
54228               0                     NaN                     NaN
54229               0                     0.0                     0.0
54230               4                     NaN                     NaN

       open_accounts  total_accounts  out_prncp  out_prncp_inv  total_payment  \
0                 12              27    5529.70        5529.70        2982.51
1                 15              31    9102.83        9102.83        4885.11
2                  7              18       0.00           0.00       16824.54
3                  6              13       0.00           0.00       15947.47
4                 23              50   10297.47       10297.47        5473.46
...              ...             ...        ...            ...            ...
54226              5               7       0.00           0.00        5724.82
54227              6               6       0.00           0.00        5931.25
54228              8              18       0.00           0.00        3915.37
54229              2               2       0.00           0.00        5174.18
54230              6              13       0.00           0.00        1501.19

       total_payment_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  \
0                2982.51          2470.30         512.21            0.000000
1                4885.11          4097.17         787.94            0.000000
2               16824.54         16000.00         824.54            0.000000
3               15947.47         15000.00         947.47            0.000000
4                5473.46          4702.53         770.93            0.000000
...                  ...              ...            ...                 ...
54226            2032.29          5000.00         724.82            0.000000
54227            2787.47          5000.00         826.31          104.942381
54228            2489.01          3500.00         415.37            0.000000
54229             232.84          5000.00         174.18            0.000000
54230             104.60           966.58         352.34            0.000000

       recoveries  collection_recovery_fee last_payment_date  \
0            0.00                     0.00          Jan-2022
1            0.00                     0.00          Jan-2022
2            0.00                     0.00          Oct-2021
3            0.00                     0.00          Jun-2021
4            0.00                     0.00          Jan-2022
...           ...                      ...               ...
54226        0.00                     0.00          Jul-2016
54227        0.00                     0.00          Oct-2016
54228        0.00                     0.00          Sep-2016
54229        0.00                     0.00          Mar-2014
54230      182.27                     1.84          Mar-2014

       last_payment_amount next_payment_date last_credit_pull_date  \
0                   248.82          Feb-2022              Jan-2022
1                   407.52          Feb-2022              Jan-2022
2                 12850.16               NaN              Oct-2021
3                 13899.67               NaN              Jun-2021
4                   456.54          Feb-2022              Jan-2022
...                    ...               ...                   ...
54226               160.61               NaN              Jul-2016
54227               490.01               NaN              Sep-2016
54228               110.58          Sep-2016              May-2013
54229                 0.00               NaN              May-2013
54230               164.97          Dec-2014              Jan-2015

       collections_12_mths_ex_med  mths_since_last_major_derog  policy_code  \
0                             0.0                          5.0            1
1                             0.0                          NaN            1
2                             0.0                          NaN            1
3                             0.0                          NaN            1
4                             0.0                          NaN            1
...                           ...                          ...          ...
54226                         NaN                          NaN            1
54227                         0.0                          NaN            1
54228                         NaN                          NaN            1
54229                         NaN                          NaN            1
54230                         NaN                          NaN            1

      application_type
0           INDIVIDUAL
1           INDIVIDUAL
2           INDIVIDUAL
3           INDIVIDUAL
4           INDIVIDUAL
...                ...
54226       INDIVIDUAL
54227       INDIVIDUAL
54228       INDIVIDUAL
54229       INDIVIDUAL
54230       INDIVIDUAL

[54231 rows x 43 columns]
(54231, 43)

In [8]:
loans_df.head(5)

,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,employment_length,home_ownership,annual_inc,verification_status,issue_date,loan_status,payment_plan,purpose,dti,delinq_2yrs,earliest_credit_line,inq_last_6mths,open_accounts,total_accounts,out_prncp,out_prncp_inv,total_payment,total_payment_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,last_credit_pull_date,collections_12_mths_ex_med,policy_code,application_type
0,38676116,41461848,8000,8000.0,8000.0,36 months,7.49,248.82,A,A4,5 years,MORTGAGE,46000.0,Not Verified,Jan-2021,Current,n,credit_card,19.54,2,Oct-1987,1,12,27,5529.70,5529.70,2982.51,2982.51,2470.30,512.21,0.0,0.0,0.0,Jan-2022,248.82,Jan-2022,0.0,1,INDIVIDUAL
1,38656203,41440010,13200,13200.0,13200.0,36 months,6.99,407.52,A,A3,9 years,RENT,50000.0,Not Verified,Jan-2021,Current,n,credit_card,24.20,0,Sep-2001,0,15,31,9102.83,9102.83,4885.11,4885.11,4097.17,787.94,0.0,0.0,0.0,Jan-2022,407.52,Jan-2022,0.0,1,INDIVIDUAL
2,38656154,41439961,16000,16000.0,16000.0,36 months,7.49,497.63,A,A4,8 years,MORTGAGE,73913.0,Source Verified,Jan-2021,Fully Paid,n,credit_card,16.92,0,Sep-1998,0,7,18,0.00,0.00,16824.54,16824.54,16000.00,824.54,0.0,0.0,0.0,Oct-2021,12850.16,Oct-2021,0.0,1,INDIVIDUAL
3,38656128,41439934,15000,15000.0,15000.0,36 months,14.31,514.93,C,C4,1 year,RENT,42000.0,Source Verified,Jan-2021,Fully Paid,n,debt_consolidation,35.52,0,Jun-2008,0,6,13,0.00,0.00,15947.47,15947.47,15000.00,947.47,0.0,0.0,0.0,Jun-2021,13899.67,Jun-2021,0.0,1,INDIVIDUAL
4,38656121,41439927,15000,15000.0,15000.0,36 months,6.03,456.54,A,A1,10+ years,MORTGAGE,145000.0,Verified,Jan-2021,Current,n,debt_consolidation,3.33,0,Apr-2002,1,23,50,10297.47,10297.47,5473.46,5473.46,4702.53,770.93,0.0,0.0,0.0,Jan-2022,456.54,Jan-2022,0.0,1,INDIVIDUAL

## Data Types

In [3]:
print("Column Data Types:")
print(loans_df.dtypes)

Column Data Types:
id                               int64
member_id                        int64
loan_amount                      int64
funded_amount                  float64
funded_amount_inv              float64
term                            object
int_rate                       float64
instalment                     float64
grade                           object
sub_grade                       object
employment_length               object
home_ownership                  object
annual_inc                     float64
verification_status             object
issue_date                      object
loan_status                     object
payment_plan                    object
purpose                         object
dti                            float64
delinq_2yrs                      int64
earliest_credit_line            object
inq_last_6mths                   int64
mths_since_last_delinq         float64
mths_since_last_record         float64
open_accounts                    int64
total_accounts                   int64
out_prncp                      float64
out_prncp_inv                  float64
total_payment                  float64
total_payment_inv              float64
total_rec_prncp                float64
total_rec_int                  float64
total_rec_late_fee             float64
recoveries                     float64
collection_recovery_fee        float64
last_payment_date               object
last_payment_amount            float64
next_payment_date               object
last_credit_pull_date           object
collections_12_mths_ex_med     float64
mths_since_last_major_derog    float64
policy_code                      int64
application_type                object
dtype: object

In [4]:
#List of Numerical Columns
numeric_cols = loans_df.select_dtypes(include=['float64', 'int64'])
num_cols = [column for column in loans_df.columns if loans_df[column].dtypes in ['int64', 'float64']] 

print('Number of Numerical Columns: ', len (num_cols))
print("Numerical Columns:")
print(numeric_cols.columns.tolist())

Number of Numerical Columns:  28
Numerical Columns:
['id', 'member_id', 'loan_amount', 'funded_amount', 'funded_amount_inv', 'int_rate', 'instalment', 'annual_inc', 'dti', 'delinq_2yrs', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_accounts', 'total_accounts', 'out_prncp', 'out_prncp_inv', 'total_payment', 'total_payment_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_payment_amount', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code']

In [5]:
year_columns_count = [column for column in loans_df.columns if loans_df[column].dtypes in ['date64']]
print('Year Columns Count: '), len(year_columns_count)

Year Columns Count:

(None, 0)

## DataFrame Information

In [6]:
from db_utils import DataFrameInfo
#Displays Statistical values, Column Data Types and Unique values
print("\nStatistical Values:")
info = DataFrameInfo(loans_df)
print(info.extract_stats().round(4))
print ('Column_Types: ')
print(info.describe_columns())
print('Number of Distinct Values: ')
print(info.count_distinct_values())

Statistical Values:
                 id     member_id  loan_amount  funded_amount  \
count  5.423100e+04  5.423100e+04   54231.0000     51224.0000
mean   7.621797e+06  8.655350e+06   13333.0761     13229.5091
std    9.571362e+06  1.031281e+07    8082.1967      8019.0176
min    5.552100e+04  7.069400e+04     500.0000       500.0000
25%    7.594330e+05  9.587720e+05    7000.0000      7000.0000
50%    7.084590e+06  8.709873e+06   12000.0000     12000.0000
75%    8.860616e+06  1.052714e+07   18000.0000     18000.0000
max    3.867612e+07  4.146185e+07   35000.0000     35000.0000

       funded_amount_inv    int_rate  instalment    annual_inc         dti  \
count         54231.0000  49062.0000   54231.000  5.423100e+04  54231.0000
mean          12952.6230     13.5073     400.014  7.222085e+04     15.8671
std            8099.4735      4.3929     238.920  5.158934e+04      7.6231
min               0.0000      5.4200      15.670  3.300000e+03      0.0000
25%            6700.0000     10.3700     224.205  4.500000e+04     10.2000
50%           11300.0000     13.1600     347.150  6.100000e+04     15.6000
75%           18000.0000     16.2000     527.550  8.600000e+04     21.2600
max           35000.0000     26.0600    1407.010  2.039784e+06     39.9100

       delinq_2yrs  inq_last_6mths  mths_since_last_delinq  \
count   54231.0000      54231.0000              23229.0000
mean        0.2418          0.8938                 34.0192
std         0.7067          1.2614                 21.9232
min         0.0000          0.0000                  0.0000
25%         0.0000          0.0000                 15.0000
50%         0.0000          1.0000                 31.0000
75%         0.0000          1.0000                 49.0000
max        18.0000         33.0000                146.0000

       mths_since_last_record  open_accounts  total_accounts   out_prncp  \
count               6181.0000     54231.0000      54231.0000  54231.0000
mean                  74.8292        10.5598         24.1682   2753.9642
std                   36.1373         4.7972         11.5870   5154.8936
min                    0.0000         1.0000          1.0000      0.0000
25%                   53.0000         7.0000         16.0000      0.0000
50%                   87.0000        10.0000         23.0000      0.0000
75%                  103.0000        13.0000         31.0000   3397.3250
max                  119.0000        53.0000        108.0000  32399.9400

       out_prncp_inv  total_payment  total_payment_inv  total_rec_prncp  \
count     54231.0000     54231.0000         54231.0000       54231.0000
mean       2752.5681     12079.2085         11788.9466        9407.0486
std        5153.0436      8391.0438          8363.5085        6958.1243
min           0.0000         0.0000             0.0000           0.0000
25%           0.0000      5895.2100          5658.8150        4264.3500
50%           0.0000     10113.2500          9835.8300        7644.9200
75%        3394.9800     16272.8950         15978.2000       12505.6250
max       32399.9400     55758.2221         55061.0000       35000.0200

       total_rec_int  total_rec_late_fee  recoveries  collection_recovery_fee  \
count     54231.0000          54231.0000  54231.0000               54231.0000
mean       2577.7571              0.9015     93.5013                  10.8591
std        2581.6573              6.2158    630.8436                 120.1939
min           0.0000              0.0000      0.0000                   0.0000
25%         889.5600              0.0000      0.0000                   0.0000
50%        1734.6400              0.0000      0.0000                   0.0000
75%        3323.7650              0.0000      0.0000                   0.0000
max       23062.4500            358.6800  27750.0000                7002.1900

       last_payment_amount  collections_12_mths_ex_med  \
count           54231.0000                  54180.0000
mean             3130.7064                      0.0042
std              5323.8017                      0.0710
min                 0.0000                      0.0000
25%               289.7900                      0.0000
50%               562.6700                      0.0000
75%              3738.1200                      0.0000
max             36115.2000                      4.0000

       mths_since_last_major_derog  policy_code
count                    7499.0000      54231.0
mean                       42.2536          1.0
std                        21.0524          0.0
min                         0.0000          1.0
25%                        26.0000          1.0
50%                        42.0000          1.0
75%                        59.0000          1.0
max                       146.0000          1.0
Column_Types:
id                               int64
member_id                        int64
loan_amount                      int64
funded_amount                  float64
funded_amount_inv              float64
term                            object
int_rate                       float64
instalment                     float64
grade                           object
sub_grade                       object
employment_length               object
home_ownership                  object
annual_inc                     float64
verification_status             object
issue_date                      object
loan_status                     object
payment_plan                    object
purpose                         object
dti                            float64
delinq_2yrs                      int64
earliest_credit_line            object
inq_last_6mths                   int64
mths_since_last_delinq         float64
mths_since_last_record         float64
open_accounts                    int64
total_accounts                   int64
out_prncp                      float64
out_prncp_inv                  float64
total_payment                  float64
total_payment_inv              float64
total_rec_prncp                float64
total_rec_int                  float64
total_rec_late_fee             float64
recoveries                     float64
collection_recovery_fee        float64
last_payment_date               object
last_payment_amount            float64
next_payment_date               object
last_credit_pull_date           object
collections_12_mths_ex_med     float64
mths_since_last_major_derog    float64
policy_code                      int64
application_type                object
dtype: object
Number of Distinct Values:
{'id': 54231, 'member_id': 54231, 'loan_amount': 1083, 'funded_amount': 1122, 'funded_amount_inv': 5261, 'term': 2, 'int_rate': 457, 'instalment': 19940, 'grade': 7, 'sub_grade': 35, 'employment_length': 11, 'home_ownership': 5, 'annual_inc': 6132, 'verification_status': 3, 'issue_date': 61, 'loan_status': 9, 'payment_plan': 2, 'purpose': 14, 'dti': 3611, 'delinq_2yrs': 16, 'earliest_credit_line': 587, 'inq_last_6mths': 24, 'mths_since_last_delinq': 100, 'mths_since_last_record': 120, 'open_accounts': 48, 'total_accounts': 88, 'out_prncp': 17673, 'out_prncp_inv': 17872, 'total_payment': 51698, 'total_payment_inv': 51561, 'total_rec_prncp': 25117, 'total_rec_int': 49331, 'total_rec_late_fee': 1439, 'recoveries': 3599, 'collection_recovery_fee': 2944, 'last_payment_date': 98, 'last_payment_amount': 38235, 'next_payment_date': 96, 'last_credit_pull_date': 101, 'collections_12_mths_ex_med': 5, 'mths_since_last_major_derog': 113, 'policy_code': 1, 'application_type': 1}

## Data Cleaning

In [7]:
from db_utils import Plotter 
loans_df_cleaned = handle_missing_values(loans_df)
nulls_heat = show_heatmap_before(loans_df)

Initial Null Count:
 id                                 0
member_id                          0
loan_amount                        0
funded_amount                   3007
funded_amount_inv                  0
term                            4772
int_rate                        5169
instalment                         0
grade                              0
sub_grade                          0
employment_length               2118
home_ownership                     0
annual_inc                         0
verification_status                0
issue_date                         0
loan_status                        0
payment_plan                       0
purpose                            0
dti                                0
delinq_2yrs                        0
earliest_credit_line               0
inq_last_6mths                     0
mths_since_last_delinq         31002
mths_since_last_record         48050
open_accounts                      0
total_accounts                     0
out_prncp                          0
out_prncp_inv                      0
total_payment                      0
total_payment_inv                  0
total_rec_prncp                    0
total_rec_int                      0
total_rec_late_fee                 0
recoveries                         0
collection_recovery_fee            0
last_payment_date                 73
last_payment_amount                0
next_payment_date              32608
last_credit_pull_date              7
collections_12_mths_ex_med        51
mths_since_last_major_derog    46732
policy_code                        0
application_type                   0
dtype: int64
Initial Null Percentages:
 id                            0.000000
member_id                     0.000000
loan_amount                   0.000000
funded_amount                 5.544799
funded_amount_inv             0.000000
int_rate                      9.531449
instalment                    0.000000
annual_inc                    0.000000
dti                           0.000000
delinq_2yrs                   0.000000
inq_last_6mths                0.000000
open_accounts                 0.000000
total_accounts                0.000000
out_prncp                     0.000000
out_prncp_inv                 0.000000
total_payment                 0.000000
total_payment_inv             0.000000
total_rec_prncp               0.000000
total_rec_int                 0.000000
total_rec_late_fee            0.000000
recoveries                    0.000000
collection_recovery_fee       0.000000
last_payment_amount           0.000000
collections_12_mths_ex_med    0.094042
policy_code                   0.000000
dtype: float64
DataFrame after dropping high null columns:
              id  member_id  loan_amount  funded_amount  funded_amount_inv  \
0      38676116   41461848         8000         8000.0             8000.0
1      38656203   41440010        13200        13200.0            13200.0
2      38656154   41439961        16000        16000.0            16000.0
3      38656128   41439934        15000        15000.0            15000.0
4      38656121   41439927        15000        15000.0            15000.0
...         ...        ...          ...            ...                ...
54226     76597      76583         5000         5000.0             1775.0
54227    142608      74724         5000         5000.0             2350.0
54228    117045      70978         3500         3500.0             2225.0
54229     88854      70699         5000         5000.0              225.0
54230     72323      70694         5000         5000.0              350.0

            term  int_rate  instalment grade sub_grade employment_length  \
0      36 months      7.49      248.82     A        A4           5 years
1      36 months      6.99      407.52     A        A3           9 years
2      36 months      7.49      497.63     A        A4           8 years
3      36 months     14.31      514.93     C        C4            1 year
4      36 months      6.03      456.54     A        A1         10+ years
...          ...       ...         ...   ...       ...               ...
54226  36 months      9.01      159.03     B        B2            1 year
54227  36 months     10.59      162.73     C        C2          < 1 year
54228  36 months      7.43      108.77     A        A2         10+ years
54229  36 months      7.43      155.38     A        A2           4 years
54230  36 months     11.54      164.98     C        C5           9 years

      home_ownership  annual_inc verification_status issue_date  \
0           MORTGAGE     46000.0        Not Verified   Jan-2021
1               RENT     50000.0        Not Verified   Jan-2021
2           MORTGAGE     73913.0     Source Verified   Jan-2021
3               RENT     42000.0     Source Verified   Jan-2021
4           MORTGAGE    145000.0            Verified   Jan-2021
...              ...         ...                 ...        ...
54226       MORTGAGE    250000.0        Not Verified   Jul-2013
54227           RENT     15000.0        Not Verified   Oct-2013
54228       MORTGAGE    300000.0        Not Verified   Aug-2013
54229           RENT    200000.0        Not Verified   Aug-2013
54230       MORTGAGE     55000.0        Not Verified   Jul-2013

                                             loan_status payment_plan  \
0                                                Current            n
1                                                Current            n
2                                             Fully Paid            n
3                                             Fully Paid            n
4                                                Current            n
...                                                  ...          ...
54226                                         Fully Paid            n
54227                                         Fully Paid            n
54228  Does not meet the credit policy. Status:Fully ...            n
54229                                         Fully Paid            n
54230  Does not meet the credit policy. Status:Charge...            n

                  purpose    dti  delinq_2yrs earliest_credit_line  \
0             credit_card  19.54            2             Oct-1987
1             credit_card  24.20            0             Sep-2001
2             credit_card  16.92            0             Sep-1998
3      debt_consolidation  35.52            0             Jun-2008
4      debt_consolidation   3.33            0             Apr-2002
...                   ...    ...          ...                  ...
54226               other  10.00            2             Apr-2003
54227               other  24.40            0             Jan-1999
54228  debt_consolidation   1.00            0             Feb-1984
54229               house   0.28            0             Mar-1995
54230               other  10.00            0             Oct-1998

       inq_last_6mths  open_accounts  total_accounts  out_prncp  \
0                   1             12              27    5529.70
1                   0             15              31    9102.83
2                   0              7              18       0.00
3                   0              6              13       0.00
4                   1             23              50   10297.47
...               ...            ...             ...        ...
54226               0              5               7       0.00
54227               3              6               6       0.00
54228               0              8              18       0.00
54229               0              2               2       0.00
54230               4              6              13       0.00

       out_prncp_inv  total_payment  total_payment_inv  total_rec_prncp  \
0            5529.70        2982.51            2982.51          2470.30
1            9102.83        4885.11            4885.11          4097.17
2               0.00       16824.54           16824.54         16000.00
3               0.00       15947.47           15947.47         15000.00
4           10297.47        5473.46            5473.46          4702.53
...              ...            ...                ...              ...
54226           0.00        5724.82            2032.29          5000.00
54227           0.00        5931.25            2787.47          5000.00
54228           0.00        3915.37            2489.01          3500.00
54229           0.00        5174.18             232.84          5000.00
54230           0.00        1501.19             104.60           966.58

       total_rec_int  total_rec_late_fee  recoveries  collection_recovery_fee  \
0             512.21            0.000000        0.00                     0.00
1             787.94            0.000000        0.00                     0.00
2             824.54            0.000000        0.00                     0.00
3             947.47            0.000000        0.00                     0.00
4             770.93            0.000000        0.00                     0.00
...              ...                 ...         ...                      ...
54226         724.82            0.000000        0.00                     0.00
54227         826.31          104.942381        0.00                     0.00
54228         415.37            0.000000        0.00                     0.00
54229         174.18            0.000000        0.00                     0.00
54230         352.34            0.000000      182.27                     1.84

      last_payment_date  last_payment_amount last_credit_pull_date  \
0              Jan-2022               248.82              Jan-2022
1              Jan-2022               407.52              Jan-2022
2              Oct-2021             12850.16              Oct-2021
3              Jun-2021             13899.67              Jun-2021
4              Jan-2022               456.54              Jan-2022
...                 ...                  ...                   ...
54226          Jul-2016               160.61              Jul-2016
54227          Oct-2016               490.01              Sep-2016
54228          Sep-2016               110.58              May-2013
54229          Mar-2014                 0.00              May-2013
54230          Mar-2014               164.97              Jan-2015

       collections_12_mths_ex_med  policy_code application_type
0                             0.0            1       INDIVIDUAL
1                             0.0            1       INDIVIDUAL
2                             0.0            1       INDIVIDUAL
3                             0.0            1       INDIVIDUAL
4                             0.0            1       INDIVIDUAL
...                           ...          ...              ...
54226                         NaN            1       INDIVIDUAL
54227                         0.0            1       INDIVIDUAL
54228                         NaN            1       INDIVIDUAL
54229                         NaN            1       INDIVIDUAL
54230                         NaN            1       INDIVIDUAL

[54231 rows x 39 columns]
DataFrame after imputing nulls:
              id  member_id  loan_amount  funded_amount  funded_amount_inv  \
0      38676116   41461848         8000         8000.0             8000.0
1      38656203   41440010        13200        13200.0            13200.0
2      38656154   41439961        16000        16000.0            16000.0
3      38656128   41439934        15000        15000.0            15000.0
4      38656121   41439927        15000        15000.0            15000.0
...         ...        ...          ...            ...                ...
54226     76597      76583         5000         5000.0             1775.0
54227    142608      74724         5000         5000.0             2350.0
54228    117045      70978         3500         3500.0             2225.0
54229     88854      70699         5000         5000.0              225.0
54230     72323      70694         5000         5000.0              350.0

            term  int_rate  instalment grade sub_grade employment_length  \
0      36 months      7.49      248.82     A        A4           5 years
1      36 months      6.99      407.52     A        A3           9 years
2      36 months      7.49      497.63     A        A4           8 years
3      36 months     14.31      514.93     C        C4            1 year
4      36 months      6.03      456.54     A        A1         10+ years
...          ...       ...         ...   ...       ...               ...
54226  36 months      9.01      159.03     B        B2            1 year
54227  36 months     10.59      162.73     C        C2          < 1 year
54228  36 months      7.43      108.77     A        A2         10+ years
54229  36 months      7.43      155.38     A        A2           4 years
54230  36 months     11.54      164.98     C        C5           9 years

      home_ownership  annual_inc verification_status issue_date  \
0           MORTGAGE     46000.0        Not Verified   Jan-2021
1               RENT     50000.0        Not Verified   Jan-2021
2           MORTGAGE     73913.0     Source Verified   Jan-2021
3               RENT     42000.0     Source Verified   Jan-2021
4           MORTGAGE    145000.0            Verified   Jan-2021
...              ...         ...                 ...        ...
54226       MORTGAGE    250000.0        Not Verified   Jul-2013
54227           RENT     15000.0        Not Verified   Oct-2013
54228       MORTGAGE    300000.0        Not Verified   Aug-2013
54229           RENT    200000.0        Not Verified   Aug-2013
54230       MORTGAGE     55000.0        Not Verified   Jul-2013

                                             loan_status payment_plan  \
0                                                Current            n
1                                                Current            n
2                                             Fully Paid            n
3                                             Fully Paid            n
4                                                Current            n
...                                                  ...          ...
54226                                         Fully Paid            n
54227                                         Fully Paid            n
54228  Does not meet the credit policy. Status:Fully ...            n
54229                                         Fully Paid            n
54230  Does not meet the credit policy. Status:Charge...            n

                  purpose    dti  delinq_2yrs earliest_credit_line  \
0             credit_card  19.54            2             Oct-1987
1             credit_card  24.20            0             Sep-2001
2             credit_card  16.92            0             Sep-1998
3      debt_consolidation  35.52            0             Jun-2008
4      debt_consolidation   3.33            0             Apr-2002
...                   ...    ...          ...                  ...
54226               other  10.00            2             Apr-2003
54227               other  24.40            0             Jan-1999
54228  debt_consolidation   1.00            0             Feb-1984
54229               house   0.28            0             Mar-1995
54230               other  10.00            0             Oct-1998

       inq_last_6mths  open_accounts  total_accounts  out_prncp  \
0                   1             12              27    5529.70
1                   0             15              31    9102.83
2                   0              7              18       0.00
3                   0              6              13       0.00
4                   1             23              50   10297.47
...               ...            ...             ...        ...
54226               0              5               7       0.00
54227               3              6               6       0.00
54228               0              8              18       0.00
54229               0              2               2       0.00
54230               4              6              13       0.00

       out_prncp_inv  total_payment  total_payment_inv  total_rec_prncp  \
0            5529.70        2982.51            2982.51          2470.30
1            9102.83        4885.11            4885.11          4097.17
2               0.00       16824.54           16824.54         16000.00
3               0.00       15947.47           15947.47         15000.00
4           10297.47        5473.46            5473.46          4702.53
...              ...            ...                ...              ...
54226           0.00        5724.82            2032.29          5000.00
54227           0.00        5931.25            2787.47          5000.00
54228           0.00        3915.37            2489.01          3500.00
54229           0.00        5174.18             232.84          5000.00
54230           0.00        1501.19             104.60           966.58

       total_rec_int  total_rec_late_fee  recoveries  collection_recovery_fee  \
0             512.21            0.000000        0.00                     0.00
1             787.94            0.000000        0.00                     0.00
2             824.54            0.000000        0.00                     0.00
3             947.47            0.000000        0.00                     0.00
4             770.93            0.000000        0.00                     0.00
...              ...                 ...         ...                      ...
54226         724.82            0.000000        0.00                     0.00
54227         826.31          104.942381        0.00                     0.00
54228         415.37            0.000000        0.00                     0.00
54229         174.18            0.000000        0.00                     0.00
54230         352.34            0.000000      182.27                     1.84

      last_payment_date  last_payment_amount last_credit_pull_date  \
0              Jan-2022               248.82              Jan-2022
1              Jan-2022               407.52              Jan-2022
2              Oct-2021             12850.16              Oct-2021
3              Jun-2021             13899.67              Jun-2021
4              Jan-2022               456.54              Jan-2022
...                 ...                  ...                   ...
54226          Jul-2016               160.61              Jul-2016
54227          Oct-2016               490.01              Sep-2016
54228          Sep-2016               110.58              May-2013
54229          Mar-2014                 0.00              May-2013
54230          Mar-2014               164.97              Jan-2015

       collections_12_mths_ex_med  policy_code application_type
0                             0.0            1       INDIVIDUAL
1                             0.0            1       INDIVIDUAL
2                             0.0            1       INDIVIDUAL
3                             0.0            1       INDIVIDUAL
4                             0.0            1       INDIVIDUAL
...                           ...          ...              ...
54226                         0.0            1       INDIVIDUAL
54227                         0.0            1       INDIVIDUAL
54228                         0.0            1       INDIVIDUAL
54229                         0.0            1       INDIVIDUAL
54230                         0.0            1       INDIVIDUAL

[54231 rows x 39 columns]
DataFrame after dropping rows in date columns:
              id  member_id  loan_amount  funded_amount  funded_amount_inv  \
0      38676116   41461848         8000         8000.0             8000.0
1      38656203   41440010        13200        13200.0            13200.0
2      38656154   41439961        16000        16000.0            16000.0
3      38656128   41439934        15000        15000.0            15000.0
4      38656121   41439927        15000        15000.0            15000.0

NameError: name 'show_heatmap_before' is not defined

In [ ]:
import matplotlib.pyplot as plt

# Assuming df is your DataFrame containing the data
# Selecting only columns with float or integer data types
columns_of_interest = numeric_cols 

# Plotting histograms for selected columns using pandas' .hist() function
orig_plot = loans_df.hist(figsize=(12, 10), bins=30, color='skyblue', edgecolor='black')
plt.tight_layout()  # Improves spacing between subplots
plt.show()

In [ ]:
import matplotlib.pyplot as plt
columns_of_interest = numeric_cols
new_plot = loans_df.hist(figsize=(12, 10), bins=30, color='skyblue', edgecolor='black', kde=True)
plt.tight_layout()  # Improves spacing between subplots
plt.show()

In [ ]:
from db_utils import Plotter
mv_visuals = Plotter(loans_df)

matrix_before = mv_visuals.show_matrix_before()

mv_visuals.show_heatmap_before()

In [ ]:
from db_utils import DataFrameTransform
from db_utils import Plotter

null_graph = DataFrameTransform(loans_df)
null_graph._extract_numeric_and_convert()