# Loans Dataset

## DataFrame Information

#### Loading the Data / Quick Overview

This is to be able to clearly and quickly distinguish how many values we have and how many columns there are in the data set right from the onset.

In [3]:
import pandas as pd
import numpy as np
loans_df = pd.read_csv("loan_payments_data.csv") 
# Displays all the columns in the Data set 
display_columns = pd.set_option('display.max_columns', None)

loans = loans_df.head(10)
print("Top 10 values from each column in data set: ")
print(loans)
#Displays a total count of rows and columns 
print ("Count of Rows and Columns: ")
print(loans_df.shape)

Top 10 values from each column in data set:
         id  member_id  loan_amount  funded_amount  funded_amount_inv  \
0  38676116   41461848         8000         8000.0             8000.0
1  38656203   41440010        13200        13200.0            13200.0
2  38656154   41439961        16000        16000.0            16000.0
3  38656128   41439934        15000        15000.0            15000.0
4  38656121   41439927        15000        15000.0            15000.0
5  38656111   41439917         2525         2525.0             2525.0
6  38656110   41439916         6675         6675.0             6675.0
7  38656067   41439872        26500        26500.0            26200.0
8  38656063   41439868        10000        10000.0            10000.0
9  38656052   41439857        10000            NaN            10000.0

        term  int_rate  instalment grade sub_grade employment_length  \
0  36 months      7.49      248.82     A        A4           5 years
1  36 months      6.99      407.52     A        A3           9 years
2  36 months      7.49      497.63     A        A4           8 years
3  36 months     14.31      514.93     C        C4            1 year
4  36 months      6.03      456.54     A        A1         10+ years
5  36 months     11.44       83.20     B        B4          < 1 year
6        NaN     21.99      254.89     E        E5               NaN
7        NaN     19.99      701.95     E        E3          < 1 year
8  60 months     12.99      227.48     C        C2          < 1 year
9  36 months      8.19      314.25     A        A5         10+ years

  home_ownership  annual_inc verification_status issue_date  loan_status  \
0       MORTGAGE     46000.0        Not Verified   Jan-2021      Current
1           RENT     50000.0        Not Verified   Jan-2021      Current
2       MORTGAGE     73913.0     Source Verified   Jan-2021   Fully Paid
3           RENT     42000.0     Source Verified   Jan-2021   Fully Paid
4       MORTGAGE    145000.0            Verified   Jan-2021      Current
5            OWN     32000.0     Source Verified   Jan-2021      Current
6           RENT     13536.0            Verified   Jan-2021   Fully Paid
7           RENT     78000.0     Source Verified   Jan-2021  Charged Off
8           RENT     50048.0     Source Verified   Jan-2021      Current
9       MORTGAGE    103000.0        Not Verified   Jan-2021      Current

  payment_plan             purpose    dti  delinq_2yrs earliest_credit_line  \
0            n         credit_card  19.54            2             Oct-1987
1            n         credit_card  24.20            0             Sep-2001
2            n         credit_card  16.92            0             Sep-1998
3            n  debt_consolidation  35.52            0             Jun-2008
4            n  debt_consolidation   3.33            0             Apr-2002
5            n    home_improvement   6.60            1             Mar-2011
6            n  debt_consolidation  16.13            0             Nov-2006
7            n  debt_consolidation  13.71            0             Mar-2001
8            n         credit_card  20.67            0             Nov-2005
9            n         credit_card  15.95            0             Feb-2002

   inq_last_6mths  mths_since_last_delinq  mths_since_last_record  \
0               1                     5.0                     NaN
1               0                     NaN                     NaN
2               0                    69.0                     NaN
3               0                    74.0                     NaN
4               1                    37.0                     NaN
5               0                     8.0                     NaN
6               2                     NaN                     NaN
7               0                    43.0                     NaN
8               0                     NaN                     NaN
9               1                    35.0                     NaN

   open_accounts  total_accounts  out_prncp  out_prncp_inv  total_payment  \
0             12              27    5529.70        5529.70        2982.51
1             15              31    9102.83        9102.83        4885.11
2              7              18       0.00           0.00       16824.54
3              6              13       0.00           0.00       15947.47
4             23              50   10297.47       10297.47        5473.46
5              3               4    1842.68        1842.68         913.60
6              3               4       0.00           0.00        6963.53
7             10              37       0.00           0.00        4182.27
8              8              11    8480.91        8480.91        2722.54
9             14              35    6934.63        6934.63        3766.45

   total_payment_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  \
0            2982.51          2470.30         512.21                 0.0
1            4885.11          4097.17         787.94                 0.0
2           16824.54         16000.00         824.54                 0.0
3           15947.47         15000.00         947.47                 0.0
4            5473.46          4702.53         770.93                 0.0
5             913.60           682.32         231.28                 0.0
6            6963.53          6675.00         288.53                 0.0
7            4134.92          1197.35        2984.92                 0.0
8            2722.54          1519.09        1203.45                 0.0
9            3766.45          3065.37         701.08                 0.0

   recoveries  collection_recovery_fee last_payment_date  last_payment_amount  \
0         0.0                      0.0          Jan-2022               248.82
1         0.0                      0.0          Jan-2022               407.52
2         0.0                      0.0          Oct-2021             12850.16
3         0.0                      0.0          Jun-2021             13899.67
4         0.0                      0.0          Jan-2022               456.54
5         0.0                      0.0          Jan-2022                91.39
6         0.0                      0.0          Mar-2021              6724.95
7         0.0                      0.0          Aug-2021               701.95
8         0.0                      0.0          Jan-2022               227.48
9         0.0                      0.0          Jan-2022               314.25

  next_payment_date last_credit_pull_date  collections_12_mths_ex_med  \
0          Feb-2022              Jan-2022                         0.0
1          Feb-2022              Jan-2022                         0.0
2               NaN              Oct-2021                         0.0
3               NaN              Jun-2021                         0.0
4          Feb-2022              Jan-2022                         0.0
5          Feb-2022              Jan-2022                         0.0
6               NaN              Mar-2021                         0.0
7               NaN              Jan-2022                         0.0
8          Feb-2022              Jan-2022                         0.0
9          Feb-2022              Jan-2022                         0.0

   mths_since_last_major_derog  policy_code application_type
0                          5.0            1       INDIVIDUAL
1                          NaN            1       INDIVIDUAL
2                          NaN            1       INDIVIDUAL
3                          NaN            1       INDIVIDUAL
4                          NaN            1       INDIVIDUAL
5                          NaN            1       INDIVIDUAL
6                          NaN            1       INDIVIDUAL
7                         43.0            1       INDIVIDUAL
8                          NaN            1       INDIVIDUAL
9                          NaN            1       INDIVIDUAL
Count of Rows and Columns:
(54231, 43)

##### Statistical Values 
A brief overview of the mean median and mode and other statistical functions to give insight to the symmetry distribution, value range and general data distribution

In [4]:
from db_utils import DataFrameInfo
info = DataFrameInfo
#Displays Statistical values, Column Data Types and Unique values
print("\nStatistical Values:")
print(loans_df.describe().round(3))

             id  member_id  loan_amount  funded_amount  funded_amount_inv  \
0      38676116   41461848         8000         8000.0             8000.0
1      38656203   41440010        13200        13200.0            13200.0
2      38656154   41439961        16000        16000.0            16000.0
3      38656128   41439934        15000        15000.0            15000.0
4      38656121   41439927        15000        15000.0            15000.0
...         ...        ...          ...            ...                ...
54226     76597      76583         5000         5000.0             1775.0
54227    142608      74724         5000         5000.0             2350.0
54228    117045      70978         3500         3500.0             2225.0
54229     88854      70699         5000         5000.0              225.0
54230     72323      70694         5000         5000.0              350.0

            term  int_rate  instalment grade sub_grade employment_length  \
0      36 months      7.49      248.82     A        A4           5 years
1      36 months      6.99      407.52     A        A3           9 years
2      36 months      7.49      497.63     A        A4           8 years
3      36 months     14.31      514.93     C        C4            1 year
4      36 months      6.03      456.54     A        A1         10+ years
...          ...       ...         ...   ...       ...               ...
54226  36 months      9.01      159.03     B        B2            1 year
54227  36 months     10.59      162.73     C        C2          < 1 year
54228  36 months      7.43      108.77     A        A2         10+ years
54229  36 months      7.43      155.38     A        A2           4 years
54230  36 months     11.54      164.98     C        C5           9 years

      home_ownership  annual_inc verification_status issue_date  \
0           MORTGAGE     46000.0        Not Verified   Jan-2021
1               RENT     50000.0        Not Verified   Jan-2021
2           MORTGAGE     73913.0     Source Verified   Jan-2021
3               RENT     42000.0     Source Verified   Jan-2021
4           MORTGAGE    145000.0            Verified   Jan-2021
...              ...         ...                 ...        ...
54226       MORTGAGE    250000.0        Not Verified   Jul-2013
54227           RENT     15000.0        Not Verified   Oct-2013
54228       MORTGAGE    300000.0        Not Verified   Aug-2013
54229           RENT    200000.0        Not Verified   Aug-2013
54230       MORTGAGE     55000.0        Not Verified   Jul-2013

                                             loan_status payment_plan  \
0                                                Current            n
1                                                Current            n
2                                             Fully Paid            n
3                                             Fully Paid            n
4                                                Current            n
...                                                  ...          ...
54226                                         Fully Paid            n
54227                                         Fully Paid            n
54228  Does not meet the credit policy. Status:Fully ...            n
54229                                         Fully Paid            n
54230  Does not meet the credit policy. Status:Charge...            n

                  purpose    dti  delinq_2yrs earliest_credit_line  \
0             credit_card  19.54            2             Oct-1987
1             credit_card  24.20            0             Sep-2001
2             credit_card  16.92            0             Sep-1998
3      debt_consolidation  35.52            0             Jun-2008
4      debt_consolidation   3.33            0             Apr-2002
...                   ...    ...          ...                  ...
54226               other  10.00            2             Apr-2003
54227               other  24.40            0             Jan-1999
54228  debt_consolidation   1.00            0             Feb-1984
54229               house   0.28            0             Mar-1995
54230               other  10.00            0             Oct-1998

       inq_last_6mths  mths_since_last_delinq  mths_since_last_record  \
0                   1                     5.0                     NaN
1                   0                     NaN                     NaN
2                   0                    69.0                     NaN
3                   0                    74.0                     NaN
4                   1                    37.0                     NaN
...               ...                     ...                     ...
54226               0                     5.0                     NaN
54227               3                     0.0                     0.0
54228               0                     NaN                     NaN
54229               0                     0.0                     0.0
54230               4                     NaN                     NaN

       open_accounts  total_accounts  out_prncp  out_prncp_inv  total_payment  \
0                 12              27    5529.70        5529.70        2982.51
1                 15              31    9102.83        9102.83        4885.11
2                  7              18       0.00           0.00       16824.54
3                  6              13       0.00           0.00       15947.47
4                 23              50   10297.47       10297.47        5473.46
...              ...             ...        ...            ...            ...
54226              5               7       0.00           0.00        5724.82
54227              6               6       0.00           0.00        5931.25
54228              8              18       0.00           0.00        3915.37
54229              2               2       0.00           0.00        5174.18
54230              6              13       0.00           0.00        1501.19

       total_payment_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  \
0                2982.51          2470.30         512.21            0.000000
1                4885.11          4097.17         787.94            0.000000
2               16824.54         16000.00         824.54            0.000000
3               15947.47         15000.00         947.47            0.000000
4                5473.46          4702.53         770.93            0.000000
...                  ...              ...            ...                 ...
54226            2032.29          5000.00         724.82            0.000000
54227            2787.47          5000.00         826.31          104.942381
54228            2489.01          3500.00         415.37            0.000000
54229             232.84          5000.00         174.18            0.000000
54230             104.60           966.58         352.34            0.000000

       recoveries  collection_recovery_fee last_payment_date  \
0            0.00                     0.00          Jan-2022
1            0.00                     0.00          Jan-2022
2            0.00                     0.00          Oct-2021
3            0.00                     0.00          Jun-2021
4            0.00                     0.00          Jan-2022
...           ...                      ...               ...
54226        0.00                     0.00          Jul-2016
54227        0.00                     0.00          Oct-2016
54228        0.00                     0.00          Sep-2016
54229        0.00                     0.00          Mar-2014
54230      182.27                     1.84          Mar-2014

       last_payment_amount next_payment_date last_credit_pull_date  \
0                   248.82          Feb-2022              Jan-2022
1                   407.52          Feb-2022              Jan-2022
2                 12850.16               NaN              Oct-2021
3                 13899.67               NaN              Jun-2021
4                   456.54          Feb-2022              Jan-2022
...                    ...               ...                   ...
54226               160.61               NaN              Jul-2016
54227               490.01               NaN              Sep-2016
54228               110.58          Sep-2016              May-2013
54229                 0.00               NaN              May-2013
54230               164.97          Dec-2014              Jan-2015

       collections_12_mths_ex_med  mths_since_last_major_derog  policy_code  \
0                             0.0                          5.0            1
1                             0.0                          NaN            1
2                             0.0                          NaN            1
3                             0.0                          NaN            1
4                             0.0                          NaN            1
...                           ...                          ...          ...
54226                         NaN                          NaN            1
54227                         0.0                          NaN            1
54228                         NaN                          NaN            1
54229                         NaN                          NaN            1
54230                         NaN                          NaN            1

      application_type
0           INDIVIDUAL
1           INDIVIDUAL
2           INDIVIDUAL
3           INDIVIDUAL
4           INDIVIDUAL
...                ...
54226       INDIVIDUAL
54227       INDIVIDUAL
54228       INDIVIDUAL
54229       INDIVIDUAL
54230       INDIVIDUAL

[54231 rows x 43 columns]

Statistical Values:
<bound method NDFrame.describe of              id  member_id  loan_amount  funded_amount  funded_amount_inv  \
0      38676116   41461848         8000         8000.0             8000.0
1      38656203   41440010        13200        13200.0            13200.0
2      38656154   41439961        16000        16000.0            16000.0
3      38656128   41439934        15000        15000.0            15000.0
4      38656121   41439927        15000        15000.0            15000.0
...         ...        ...          ...            ...                ...
54226     76597      76583         5000         5000.0             1775.0
54227    142608      74724         5000         5000.0             2350.0
54228    117045      70978         3500         3500.0             2225.0
54229     88854      70699         5000         5000.0              225.0
54230     72323      70694         5000         5000.0              350.0

            term  int_rate  instalment grade sub_grade employment_length  \
0      36 months      7.49      248.82     A        A4           5 years
1      36 months      6.99      407.52     A        A3           9 years
2      36 months      7.49      497.63     A        A4           8 years
3      36 months     14.31      514.93     C        C4            1 year
4      36 months      6.03      456.54     A        A1         10+ years
...          ...       ...         ...   ...       ...               ...
54226  36 months      9.01      159.03     B        B2            1 year
54227  36 months     10.59      162.73     C        C2          < 1 year
54228  36 months      7.43      108.77     A        A2         10+ years
54229  36 months      7.43      155.38     A        A2           4 years
54230  36 months     11.54      164.98     C        C5           9 years

      home_ownership  annual_inc verification_status issue_date  \
0           MORTGAGE     46000.0        Not Verified   Jan-2021
1               RENT     50000.0        Not Verified   Jan-2021
2           MORTGAGE     73913.0     Source Verified   Jan-2021
3               RENT     42000.0     Source Verified   Jan-2021
4           MORTGAGE    145000.0            Verified   Jan-2021
...              ...         ...                 ...        ...
54226       MORTGAGE    250000.0        Not Verified   Jul-2013
54227           RENT     15000.0        Not Verified   Oct-2013
54228       MORTGAGE    300000.0        Not Verified   Aug-2013
54229           RENT    200000.0        Not Verified   Aug-2013
54230       MORTGAGE     55000.0        Not Verified   Jul-2013

                                             loan_status payment_plan  \
0                                                Current            n
1                                                Current            n
2                                             Fully Paid            n
3                                             Fully Paid            n
4                                                Current            n
...                                                  ...          ...
54226                                         Fully Paid            n
54227                                         Fully Paid            n
54228  Does not meet the credit policy. Status:Fully ...            n
54229                                         Fully Paid            n
54230  Does not meet the credit policy. Status:Charge...            n

                  purpose    dti  delinq_2yrs earliest_credit_line  \
0             credit_card  19.54            2             Oct-1987
1             credit_card  24.20            0             Sep-2001
2             credit_card  16.92            0             Sep-1998
3      debt_consolidation  35.52            0             Jun-2008
4      debt_consolidation   3.33            0             Apr-2002
...                   ...    ...          ...                  ...
54226               other  10.00            2             Apr-2003
54227               other  24.40            0             Jan-1999
54228  debt_consolidation   1.00            0             Feb-1984
54229               house   0.28            0             Mar-1995
54230               other  10.00            0             Oct-1998

       inq_last_6mths  mths_since_last_delinq  mths_since_last_record  \
0                   1                     5.0                     NaN
1                   0                     NaN                     NaN
2                   0                    69.0                     NaN
3                   0                    74.0                     NaN
4                   1                    37.0                     NaN
...               ...                     ...                     ...
54226               0                     5.0                     NaN
54227               3                     0.0                     0.0
54228               0                     NaN                     NaN
54229               0                     0.0                     0.0
54230               4                     NaN                     NaN

       open_accounts  total_accounts  out_prncp  out_prncp_inv  total_payment  \
0                 12              27    5529.70        5529.70        2982.51
1                 15              31    9102.83        9102.83        4885.11
2                  7              18       0.00           0.00       16824.54
3                  6              13       0.00           0.00       15947.47
4                 23              50   10297.47       10297.47        5473.46
...              ...             ...        ...            ...            ...
54226              5               7       0.00           0.00        5724.82
54227              6               6       0.00           0.00        5931.25
54228              8              18       0.00           0.00        3915.37
54229              2               2       0.00           0.00        5174.18
54230              6              13       0.00           0.00        1501.19

       total_payment_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  \
0                2982.51          2470.30         512.21            0.000000
1                4885.11          4097.17         787.94            0.000000
2               16824.54         16000.00         824.54            0.000000
3               15947.47         15000.00         947.47            0.000000
4                5473.46          4702.53         770.93            0.000000
...                  ...              ...            ...                 ...
54226            2032.29          5000.00         724.82            0.000000
54227            2787.47          5000.00         826.31          104.942381
54228            2489.01          3500.00         415.37            0.000000
54229             232.84          5000.00         174.18            0.000000
54230             104.60           966.58         352.34            0.000000

       recoveries  collection_recovery_fee last_payment_date  \
0            0.00                     0.00          Jan-2022
1            0.00                     0.00          Jan-2022
2            0.00                     0.00          Oct-2021
3            0.00                     0.00          Jun-2021
4            0.00                     0.00          Jan-2022
...           ...                      ...               ...
54226        0.00                     0.00          Jul-2016
54227        0.00                     0.00          Oct-2016
54228        0.00                     0.00          Sep-2016
54229        0.00                     0.00          Mar-2014
54230      182.27                     1.84          Mar-2014

       last_payment_amount next_payment_date last_credit_pull_date  \
0                   248.82          Feb-2022              Jan-2022
1                   407.52          Feb-2022              Jan-2022
2                 12850.16               NaN              Oct-2021
3                 13899.67               NaN              Jun-2021
4                   456.54          Feb-2022              Jan-2022
...                    ...               ...                   ...
54226               160.61               NaN              Jul-2016
54227               490.01               NaN              Sep-2016
54228               110.58          Sep-2016              May-2013
54229                 0.00               NaN              May-2013
54230               164.97          Dec-2014              Jan-2015

       collections_12_mths_ex_med  mths_since_last_major_derog  policy_code  \
0                             0.0                          5.0            1
1                             0.0                          NaN            1
2                             0.0                          NaN            1
3                             0.0                          NaN            1
4                             0.0                          NaN            1
...                           ...                          ...          ...
54226                         NaN                          NaN            1
54227                         0.0                          NaN            1
54228                         NaN                          NaN            1
54229                         NaN                          NaN            1
54230                         NaN                          NaN            1

      application_type
0           INDIVIDUAL
1           INDIVIDUAL
2           INDIVIDUAL
3           INDIVIDUAL
4           INDIVIDUAL
...                ...
54226       INDIVIDUAL
54227       INDIVIDUAL
54228       INDIVIDUAL
54229       INDIVIDUAL
54230       INDIVIDUAL

[54231 rows x 43 columns]>
Column_Types:
id                               int64
member_id                        int64
loan_amount                      int64
funded_amount                  float64
funded_amount_inv              float64
term                            object
int_rate                       float64
instalment                     float64
grade                           object
sub_grade                       object
employment_length               object
home_ownership                  object
annual_inc                     float64
verification_status             object
issue_date                      object

#### Distinct Values
This helps us take a closer look at the data set, a dataset with less distinct values can either be full of repetition and require cleaning or could be a categorical column.

In [5]:
print("  Total distinct values in each column     ")
for col in loans_df.columns:
    distinct_counts = loans_df[col].nunique()
    print (f" Total distinct values in '{col}': {distinct_counts}")
    print("-----------------------------")
    categorical_columns = [col for col in loans_df.columns if loans_df[col].nunique() < 20]
if distinct_counts < 20:
    categorical_columns.append(col) 
print ("categorical_columns:")
print(categorical_columns)

  Total distinct values in each column
 Total distinct values in 'id': 54231
-----------------------------
 Total distinct values in 'member_id': 54231
-----------------------------
 Total distinct values in 'loan_amount': 1083
-----------------------------
 Total distinct values in 'funded_amount': 1122
-----------------------------
 Total distinct values in 'funded_amount_inv': 5261
-----------------------------
 Total distinct values in 'term': 2
-----------------------------
 Total distinct values in 'int_rate': 457
-----------------------------
 Total distinct values in 'instalment': 19940
-----------------------------
 Total distinct values in 'grade': 7
-----------------------------
 Total distinct values in 'sub_grade': 35
-----------------------------
 Total distinct values in 'employment_length': 11
-----------------------------
 Total distinct values in 'home_ownership': 5
-----------------------------
 Total distinct values in 'annual_inc': 6132
-----------------------------
 Total distinct values in 'verification_status': 3
-----------------------------
 Total distinct values in 'issue_date': 61
-----------------------------
 Total distinct values in 'loan_status': 9
-----------------------------
 Total distinct values in 'payment_plan': 2
-----------------------------
 Total distinct values in 'purpose': 14
-----------------------------
 Total distinct values in 'dti': 3611
-----------------------------
 Total distinct values in 'delinq_2yrs': 16
-----------------------------
 Total distinct values in 'earliest_credit_line': 587
-----------------------------
 Total distinct values in 'inq_last_6mths': 24
-----------------------------
 Total distinct values in 'mths_since_last_delinq': 100
-----------------------------
 Total distinct values in 'mths_since_last_record': 120
-----------------------------
 Total distinct values in 'open_accounts': 48
-----------------------------
 Total distinct values in 'total_accounts': 88
-----------------------------
 Total distinct values in 'out_prncp': 17673
-----------------------------
 Total distinct values in 'out_prncp_inv': 17872
-----------------------------
 Total distinct values in 'total_payment': 51698
-----------------------------
 Total distinct values in 'total_payment_inv': 51561
-----------------------------
 Total distinct values in 'total_rec_prncp': 25117
-----------------------------
 Total distinct values in 'total_rec_int': 49331
-----------------------------
 Total distinct values in 'total_rec_late_fee': 1439
-----------------------------
 Total distinct values in 'recoveries': 3599
-----------------------------
 Total distinct values in 'collection_recovery_fee': 2944
-----------------------------
 Total distinct values in 'last_payment_date': 98
-----------------------------
 Total distinct values in 'last_payment_amount': 38235
-----------------------------
 Total distinct values in 'next_payment_date': 96
-----------------------------
 Total distinct values in 'last_credit_pull_date': 101
-----------------------------
 Total distinct values in 'collections_12_mths_ex_med': 5
-----------------------------
 Total distinct values in 'mths_since_last_major_derog': 113
-----------------------------
 Total distinct values in 'policy_code': 1
-----------------------------
 Total distinct values in 'application_type': 1
-----------------------------
categorical_columns:
['term', 'grade', 'employment_length', 'home_ownership', 'verification_status', 'loan_status', 'payment_plan', 'purpose', 'delinq_2yrs', 'collections_12_mths_ex_med', 'policy_code', 'application_type', 'application_type']

We can conclude some of these columns will contain categorical data as there is such a few number of unique values

In [6]:
#List of Numerical Columns
numeric_cols = loans_df.select_dtypes(include=['float64', 'int64'])
num_cols = [column for column in loans_df.columns if loans_df[column].dtypes in ['int64', 'float64']] 

print('Number of Numerical Columns: ', len (num_cols))
print("Numerical Columns:")
print(numeric_cols.columns.tolist())

Number of Numerical Columns:  28
Numerical Columns:
['id', 'member_id', 'loan_amount', 'funded_amount', 'funded_amount_inv', 'int_rate', 'instalment', 'annual_inc', 'dti', 'delinq_2yrs', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_accounts', 'total_accounts', 'out_prncp', 'out_prncp_inv', 'total_payment', 'total_payment_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_payment_amount', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code']

This sets out which columns are numerical as when transforming the data set it is only the numerical columns that will provide usable data.

Nulls Checker

In [7]:
from db_utils import NullPercentageCalculator
calculator = NullPercentageCalculator
nulls_check = calculator.count_null_values(loans_df)
print(nulls_check)

id                                 0
member_id                          0
loan_amount                        0
funded_amount                   3007
funded_amount_inv                  0
term                            4772
int_rate                        5169
instalment                         0
grade                              0
sub_grade                          0
employment_length               2118
home_ownership                     0
annual_inc                         0
verification_status                0
issue_date                         0
loan_status                        0
payment_plan                       0
purpose                            0
dti                                0
delinq_2yrs                        0
earliest_credit_line               0
inq_last_6mths                     0
mths_since_last_delinq         31002
mths_since_last_record         48050
open_accounts                      0
total_accounts                     0
out_prncp                          0
out_prncp_inv                      0
total_payment                      0
total_payment_inv                  0
total_rec_prncp                    0
total_rec_int                      0
total_rec_late_fee                 0
recoveries                         0
collection_recovery_fee            0
last_payment_date                 73
last_payment_amount                0
next_payment_date              32608
last_credit_pull_date              7
collections_12_mths_ex_med        51
mths_since_last_major_derog    46732
policy_code                        0
application_type                   0
dtype: int64

Data Types

Knowing the distinct types of data we have in the dataset will be essential later on when transforming the data

In [8]:
print("Column Data Types:")
print(loans_df.dtypes)

Column Data Types:
id                               int64
member_id                        int64
loan_amount                      int64
funded_amount                  float64
funded_amount_inv              float64
term                            object
int_rate                       float64
instalment                     float64
grade                           object
sub_grade                       object
employment_length               object
home_ownership                  object
annual_inc                     float64
verification_status             object
issue_date                      object
loan_status                     object
payment_plan                    object
purpose                         object
dti                            float64
delinq_2yrs                      int64
earliest_credit_line            object
inq_last_6mths                   int64
mths_since_last_delinq         float64
mths_since_last_record         float64
open_accounts                    int64
total_accounts                   int64
out_prncp                      float64
out_prncp_inv                  float64
total_payment                  float64
total_payment_inv              float64
total_rec_prncp                float64
total_rec_int                  float64
total_rec_late_fee             float64
recoveries                     float64
collection_recovery_fee        float64
last_payment_date               object
last_payment_amount            float64
next_payment_date               object
last_credit_pull_date           object
collections_12_mths_ex_med     float64
mths_since_last_major_derog    float64
policy_code                      int64
application_type                object
dtype: object

Checking the Dataset to see if they are any datetime columns as from the data set can see there are columns involving dates so will need to be cleaned effectively.

In [9]:
year_columns_count = [column for column in loans_df.columns if loans_df[column].dtypes in ['datetime64']]
print('Year Columns Count: '), len(year_columns_count)

Year Columns Count:

(None, 0)

As you can see, there 0 columns with the datetime type however in the dataset we can see that we have dates mentioned so this will need to be transformed.

In [17]:

from db_utils import NullPercentageCalculator
calculator = NullPercentageCalculator
columns = calculator.list_columns(loans_df)
print("List of all the columns")
print (columns)

List of all the columns
['id', 'member_id', 'loan_amount', 'funded_amount', 'funded_amount_inv', 'term', 'int_rate', 'instalment', 'grade', 'sub_grade', 'employment_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_date', 'loan_status', 'payment_plan', 'purpose', 'dti', 'delinq_2yrs', 'earliest_credit_line', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_accounts', 'total_accounts', 'out_prncp', 'out_prncp_inv', 'total_payment', 'total_payment_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_payment_date', 'last_payment_amount', 'next_payment_date', 'last_credit_pull_date', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type']

In [16]:
print("Initial Null Count: ")
initial_null = calculator.count_null_values(loans_df)
print(initial_null)
null_percentage = calculator.calculate_null_percentage(loans_df, columns)
print("------------------------------------------------------------------------------------------")
print("Initial Null Percentages:\n", null_percentage)

Initial Null Count:
id                                 0
member_id                          0
loan_amount                        0
funded_amount                   3007
funded_amount_inv                  0
term                            4772
int_rate                        5169
instalment                         0
grade                              0
sub_grade                          0
employment_length               2118
home_ownership                     0
annual_inc                         0
verification_status                0
issue_date                         0
loan_status                        0
payment_plan                       0
purpose                            0
dti                                0
delinq_2yrs                        0
earliest_credit_line               0
inq_last_6mths                     0
mths_since_last_delinq         31002
mths_since_last_record         48050
open_accounts                      0
total_accounts                     0
out_prncp                          0
out_prncp_inv                      0
total_payment                      0
total_payment_inv                  0
total_rec_prncp                    0
total_rec_int                      0
total_rec_late_fee                 0
recoveries                         0
collection_recovery_fee            0
last_payment_date                 73
last_payment_amount                0
next_payment_date              32608
last_credit_pull_date              7
collections_12_mths_ex_med        51
mths_since_last_major_derog    46732
policy_code                        0
application_type                   0
dtype: int64
------------------------------------------------------------------------------------------
Initial Null Percentages:
 id                              0.000000
member_id                       0.000000
loan_amount                     0.000000
funded_amount                   5.544799
funded_amount_inv               0.000000
term                            8.799395
int_rate                        9.531449
instalment                      0.000000
grade                           0.000000
sub_grade                       0.000000
employment_length               3.905515
home_ownership                  0.000000
annual_inc                      0.000000
verification_status             0.000000
issue_date                      0.000000
loan_status                     0.000000
payment_plan                    0.000000
purpose                         0.000000
dti                             0.000000
delinq_2yrs                     0.000000
earliest_credit_line            0.000000
inq_last_6mths                  0.000000
mths_since_last_delinq         57.166565
mths_since_last_record         88.602460
open_accounts                   0.000000
total_accounts                  0.000000
out_prncp                       0.000000
out_prncp_inv                   0.000000
total_payment                   0.000000
total_payment_inv               0.000000
total_rec_prncp                 0.000000
total_rec_int                   0.000000
total_rec_late_fee              0.000000
recoveries                      0.000000
collection_recovery_fee         0.000000
last_payment_date               0.134609
last_payment_amount             0.000000
next_payment_date              60.127971
last_credit_pull_date           0.012908
collections_12_mths_ex_med      0.094042
mths_since_last_major_derog    86.172116
policy_code                     0.000000
application_type                0.000000
dtype: float64

As there is a significant amount of nulls (>50%), I am going to drop these rows completely from the data set as it could potentially make the data less reliable. For the rest of the columns with nulls we are going to impute the nulls

In [ ]:
from db_utils import DataFrameTransform
transformations = DataFrameTransform
loans_df
skewed_columns = ['id', 'member_id', 'loan_amount', 'funded_amount_inv', 'annual_inc', 'delinq_2yrs', 'inq_last_6mths','mths_since_last_delinq', 'mths_since_last_record','open_accounts', 'total_accounts','collections_12_ex_med','mths_since','last_major_derog','policy_code', 'int_rate', 'instalment','dti', 'out_prncp', 'total_payment_inv,total_rec_prncp','total_rec_int','total_rec_late_fees','recoveries','collection_recovery_fee' ,'last_payment_amount']
date_columns =  ['issue_date', 'earliest_credit_line','last_payment_date',"last_credit_pull_date"]
categorical_columns = ['grade', 'sub_grade', 'loan_status', 'payment_plan', 'purpose', 'application_type']
datetime_cols = [(date_columns)]

loans_df._convert_to_datetime(date_columns)
loans_df.drop_rows_date_columns(loans_df)
loans_df._extract_numeric_and_convert('employment_length', r'(\d+)')
loans_df._extract_numeric_and_convert('term', r'(\d+)')
loans_df._convert_to_categorical(categorical_columns)
loans_df._handle_missing_and_convert_to_int(['mths_since_last_delinq', 'mths_since_last_record', 'mths_since_last_major_derog'])
loans_transform = transformations.transform_data()

In [ ]:
from db_utils import DataFrameTransform

null_graph = DataFrameTransform(loans_df)
null_graph._extract_numeric_and_convert()

## Data Cleaning

In [ ]:
from db_utils import Plotter 
plotter = Plotter
plotter.show_matrix_before(loans_df)

In [ ]:
import matplotlib.pyplot as plt

# Assuming df is your DataFrame containing the data
# Selecting only columns with float or integer data types
columns_of_interest = numeric_cols 

# Plotting histograms for selected columns using pandas' .hist() function
orig_plot = loans_df.hist(figsize=(12, 10), bins=30, color='skyblue', edgecolor='black')
plt.tight_layout()  # Improves spacing between subplots
plt.show()

In [ ]:
from data_cleaning_utils import handle_missing_values
from data_cleaning_utils import visualize_null_removal
loans_df_cleaned = handle_missing_values(loans_df)
# Create a copy of loans_df_cleaned for use in visualize_null_removal function
cleaned_loans_df_copy1 = loans_df_cleaned.copy()
visualize_null_removal(loans_df, cleaned_loans_data)

In [ ]:
import matplotlib.pyplot as plt
columns_of_interest = numeric_cols
new_plot = loans_df.hist(figsize=(12, 10), bins=30, color='skyblue', edgecolor='black', kde=True)
plt.tight_layout()  # Improves spacing between subplots
plt.show()

In [ ]:
from db_utils import Plotter
mv_visuals = Plotter(loans_df)

matrix_before = mv_visuals.show_matrix_before()

mv_visuals.show_heatmap_before()